.container {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 70px; 
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.nav-item {
    margin-right: 15px;
    cursor: pointer;
    color: blue;
}

    .nav-item.active {
        font-weight: bold;
    }

.table-cell {
    border: 1px solid #ddd;
    padding: 8px;
}

    .table-cell.clickable {
        color: green;
        cursor: pointer;
    }

.placeholder {
    font-style: italic;
    color: gray;
}

.table-title {
    text-align: center;
    color: green;
    font-weight: bold;
}
