SUPERMARKET_ID=s100001

SUBERMARKET_DB_USERNAME=root
SUBERMARKET_DB_PASSWORD=secretpass
SUBERMARKET_DB_HOST=100.92.172.33
SUBERMARKET_DB_PORT=4324

GOV_DB=gov
GOV_DB_USERNAME=root
GOV_DB_PASSWORD=secretpass
GOV_DB_HOST=100.92.172.33
GOV_DB_PORT=4324

