/* Main container for the settings page */

.settings-container {
    text-align: center;
    padding: 2rem;
    }

/* Title for the settings page */
.settings-title {
  font-size: 2rem;
  font-weight: bold;
  color: #3b3b3b; /* Dark text color */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.settings-icon {
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
}

/* Main content section */
.settings-main {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

/* Individual block container */
.settings-block {
  background-color: #fff; /* White background */
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  width: 250px;
  text-align: center;
}

/* Title for each block */
.block-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #3b3b3b;
  margin-bottom: 1rem;
}

/* Buttons in each block */
.block-button {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.75rem 1rem;
  font-size: 1rem;
font-weight: bold;
  color: #fff;
  background-color: #709054; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.block-button:hover {
  background-color: #7cb342;
}


.settings-block a {
  text-decoration: none;

}