fastapi
passlib
pyjwt
python-multipart
sqlmodel
uvicorn
pymysql
passlib[bcrypt]
python-multipart
email-validator
pillow
requests
sqlmodel
pydantic
sqlalchemy
cryptography
python-barcode  
qrcode   
dotenv